[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sin
*.user
*.unityproj
*.booproj
*.vs/
*.idea/
*.DotSettings

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thums.db

gmcs.rsp*
smcs.rsp*

HamsterProject/Logs
HamsterProject/UserSettings
*.sln
*.vsconfig

